@import 'variables';

// Main container
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  height: 100vh;
  background-color: $body-bg;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden; /* Prevent scrolling on the container */
}

.app-content {
  position: relative;
  flex: 1;
  overflow-y: auto; /* This is the only scrollbar we want */
}