<div class="file-upload-page-container">
  <div class="page-header">
    <h1>Upload New File</h1>
    <a routerLink="/dashboard/files" class="btn primary-btn">View My Files</a>
  </div>
  
  <div class="upload-card">
    <p class="description">Import an Excel spreadsheet (.xlsx) with your dataset.</p>
    
    <app-coming-soon-notification  title="More Formats Coming Soon!">
          We're working hard to bring you support for <strong>CSV</strong>, <strong>JSON</strong>, and <strong>Google Sheets</strong>. Stay tuned for these exciting updates!
    </app-coming-soon-notification>
    
    <div class="upload-section">
      <app-file-upload (fileUploaded)="fileUploaded()"></app-file-upload>
    </div>
  </div>

</div>