<div class="file-upload-page-container">
  <!-- <h1>Upload Your Data</h1>
   -->
  <div class="upload-card">
    <div class="card-icon">
      <i-feather name="upload"></i-feather>
    </div>
    <h2>Upload Your Data</h2>
    <p class="description">Import spreadsheets or CSV files with your dataset</p>
    
    <div class="upload-section">
      <app-file-upload (fileUploaded)="fileUploaded()"></app-file-upload>
    </div>
  </div>

  <div class="actions">
    <a routerLink="/dashboard/files" class="btn btn-md primary-btn">View My Files</a>
    <a routerLink="/dashboard" class="btn btn-md secondary-btn">Back to Home</a>
  </div>
</div>