<nav class="top-nav">
    <a class="logo" [routerLink]="['/']">
      <img src="assets/batchprompt-logo.svg">
      BatchPrompt
    </a>
    
    <div class="nav-links-group">
      <a class="nav-link" [routerLink]="['/models']">Supported Models</a>

      <!-- New Examples dropdown -->
      <div class="nav-link dropdown"
           (mouseenter)="showExamplesDropdown = true"
           (mouseleave)="setDropdownCloseTimeout()">
        <span class="dropdown-toggle">
          Examples <i-feather name="chevron-down" class="dropdown-icon"></i-feather>
        </span>
        <div class="dropdown-menu"
             *ngIf="showExamplesDropdown"
             (mouseenter)="clearDropdownCloseTimeout()"
             (mouseleave)="setDropdownCloseTimeout()">
          <a class="dropdown-item" [routerLink]="['/examples/1']">Example 1</a>
          <a class="dropdown-item" [routerLink]="['/examples/2']">Example 2</a>
        </div>
      </div>
    </div>
    
    <div class="nav-actions">
      <ng-container *ngIf="!(auth.isAuthenticated$ | async)">
        <button class="btn login-btn" (click)="login()">LOG IN</button>
        <button class="btn signup-btn" (click)="signup()">SIGN UP</button>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated$ | async">
          <div class="btn user-button" (click)="toggleUserMenu($event)">
            <div class="user-avatar">
              <span class="user-initials">{{ getUserInitials((auth.user$ | async)?.name) }}</span>
            </div>
            <div class="user-name">{{ (auth.user$ | async)?.name }}</div>
            <i-feather name="chevron-down" class="dropdown-icon"></i-feather>
            
            <!-- User dropdown menu -->
            <div class="user-menu" *ngIf="showUserMenu">
              <ul>
                <!-- Admin Dashboard Link - Only shown to users with admin role -->
                <li *ngIf="isAdmin$ | async" [routerLink]="['/admin']">
                  <i-feather name="shield" class="menu-icon"></i-feather>
                  <span>Admin Dashboard</span>
              </li>
              <li [routerLink]="['/dashboard']">
                    <i-feather name="layout" class="menu-icon"></i-feather>
                    <span>My Dashboard</span>
                </li>
                <li [routerLink]="['/profile']">
                  <i-feather name="user" class="menu-icon"></i-feather>
                  <span>My Account</span>
                </li>
                <li (click)="logout()">
                    <i-feather name="log-out" class="menu-icon"></i-feather>
                    <span>Log Out</span>
                </li>
              </ul>
            </div>
        </div>
      </ng-container>
    </div>
  </nav>

